<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ms.car.appointment.mapper.BusAppointmentMapper">

    <resultMap type="BusAppointment" id="BusAppointmentResult">
        <result property="id"    column="id"    />
        <result property="customerName"    column="customer_name"    />
        <result property="customerPhone"    column="customer_phone"    />
        <result property="appointmentTime"    column="appointment_time"    />
        <result property="actualArrivalTime"    column="actual_arrival_time"    />
        <result property="licensePlate"    column="license_plate"    />
        <result property="carSeries"    column="car_series"    />
        <result property="serviceType"    column="service_type"    />
        <result property="createTime"    column="create_time"    />
        <result property="info"    column="info"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectBusAppointmentVo">
        select id, customer_name, customer_phone, appointment_time, actual_arrival_time, license_plate, car_series, service_type, create_time, info, status from bus_appointment
    </sql>

    <select id="selectBusAppointmentList" parameterType="BusAppointment" resultMap="BusAppointmentResult">
        <include refid="selectBusAppointmentVo"/>
        <where>
            <if test="customerName != null  and customerName != ''"> and customer_name like concat('%', #{customerName}, '%')</if>
            <if test="customerPhone != null  and customerPhone != ''"> and customer_phone like concat(#{customerPhone}, '%')</if>
            <if test="licensePlate != null  and licensePlate != ''"> and license_plate like concat('%', #{licensePlate}, '%')</if>
        </where>
        order by `status`, appointment_time
    </select>

    <select id="selectBusAppointmentById" parameterType="Long" resultMap="BusAppointmentResult">
        <include refid="selectBusAppointmentVo"/>
        where id = #{id}
    </select>

    <insert id="insertBusAppointment" parameterType="BusAppointment" useGeneratedKeys="true" keyProperty="id">
        insert into bus_appointment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerName != null">customer_name,</if>
            <if test="customerPhone != null">customer_phone,</if>
            <if test="appointmentTime != null">appointment_time,</if>
            <if test="licensePlate != null">license_plate,</if>
            <if test="carSeries != null">car_series,</if>
            <if test="serviceType != null">service_type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="info != null">info,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerName != null">#{customerName},</if>
            <if test="customerPhone != null">#{customerPhone},</if>
            <if test="appointmentTime != null">#{appointmentTime},</if>
            <if test="licensePlate != null">#{licensePlate},</if>
            <if test="carSeries != null">#{carSeries},</if>
            <if test="serviceType != null">#{serviceType},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="info != null">#{info},</if>
        </trim>
    </insert>

    <update id="updateBusAppointment" parameterType="BusAppointment">
        update bus_appointment
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerName != null">customer_name = #{customerName},</if>
            <if test="customerPhone != null">customer_phone = #{customerPhone},</if>
            <if test="appointmentTime != null">appointment_time = #{appointmentTime},</if>
            <if test="licensePlate != null">license_plate = #{licensePlate},</if>
            <if test="carSeries != null">car_series = #{carSeries},</if>
            <if test="serviceType != null">service_type = #{serviceType},</if>
            <if test="info != null">info = #{info},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateArrival">
        update bus_appointment
        set actual_arrival_time = NOW(),
            status = 1
        where id = #{id}
    </update>
    <update id="updateStatus">
        update bus_appointment
        set status = #{status}
        where id = #{id}
    </update>

    <delete id="deleteBusAppointmentById" parameterType="Long">
        delete from bus_appointment where id = #{id}
    </delete>

    <delete id="deleteBusAppointmentByIds" parameterType="String">
        delete from bus_appointment where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>